# IDE files
.idea/
*.iml

# Build files
build/
app/build/
*/build/

# Local properties
local.properties

# Keystore files
*.jks
*.keystore

# Gradle files
.gradle/
gradle/
gradlew
gradlew.bat

# Captures
captures/

# Other
.DS_Store